# MariaDB
DB_NAME=
DB_USER=
DB_PASS=
DB_ROOT_PASS=

#Nginx
CERT_PATH=/etc/ssl/certs/inception.crt
KEY_PATH=/etc/ssl/private/inception.key

#Wordpress/redis
# domain must be <login>.42.fr and point to 127.0.0.1 in /etc/hosts
WP_URL=bahbibe.42.fr
WP_ADMIN=
WP_PASS=
WP_EMAIL=
WP_USER=
WP_USER_PASS=
WP_USER_EMAIL=
WP_REDIS_HOST=

# FTP
FTP_USER=
FTP_PASS=
